body {
    background-color: antiquewhite;
    text-align: center;
}

button {
    display: block;
    position: absolute;
}

#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 25%;
    text-align: center;
}

#accept {
    display: none;
}

#social {
    margin-top: 20px;
}

#yes {
    top:40%;
    left: 50%;
    transform: translate(-150%);
}

#no {
    top: 40%;
    left: 50%;
    transform: translate(50%);
}

.navbar {
    display: none;
}